body{
    background-color: grey;
}
h1{
    text-align: center;
    margin-top: -90px;
}
.principal{
display: flex;
   margin-left: 500px;
   margin-top:200px;
}
.card{
    margin-right: 20px;
}